name: Task Manager DevSecOps
run-name: ${{ github.actor }}'s pipeline
on: [push]

jobs:

  Pre-Commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v5
      - uses: pre-commit/action@v3.0.1

  Backend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v5

      - run: cd backend/

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Install dependencies
        run: |
          cd backend/
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - run: echo "Backend successfully setup"

  Frontend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository code
        uses: actions/checkout@v5

      - run: cd frontend/

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'

  Security:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master

      - run: |
          cd backend
          pip install -r requirements.txt

      - name: Run Snyk to check Node security vulnerabilities
        uses: snyk/actions/node@master
        continue-on-error: true
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          args: --file=backend/requirements.txt

      - name: Run Snyk to check Python security vulnerabilities
        uses: snyk/actions/python@master
        continue-on-error: true
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          command: code test
          args: --all-projects --severity-threshold=high
